BasedOnStyle: Google
Standard: c++17
IndentWidth: 4
BreakBeforeBraces: Attach
AlignAfterOpenBracket: BlockIndent
AllowAllParametersOfDeclarationOnNextLine: false
AllowAllArgumentsOnNextLine: false
AllowShortFunctionsOnASingleLine: Empty
AllowShortBlocksOnASingleLine: Empty
BinPackParameters: false
BinPackArguments: false
AlwaysBreakAfterDefinitionReturnType: None
AlwaysBreakAfterReturnType: None
IndentRequires: true
PenaltyReturnTypeOnItsOwnLine: 1000
BreakBeforeBinaryOperators: NonAssignment
AlignOperands: Align
SeparateDefinitionBlocks: Always
Cpp11BracedListStyle: false
SpaceBeforeCpp11BracedList: true