Checks: '
-*,
bugprone-*,
cert-*,
clang-analyzer-*,
clang-diagnostic-*,
cppcoreguidelines-*,
-cppcoreguidelines-avoid-magic-numbers,
modernize-*,
-modernize-use-nodiscard,
-modernize-use-trailing-return-type,
readability-*,
-readability-else-after-return,
-readability-uppercase-literal-suffix,
-readability-magic-numbers,
-readability-qualified-auto,
performance-*,
hicpp-*,
-hicpp-uppercase-literal-suffix
'
WarningsAsErrors: '*'