WarningsAsErrors: '*'
HeaderFilterRegex: '.*\.hpp'
Checks: '
-*,
bugprone-*,
-bugprone-easily-swappable-parameters,
cert-*,
clang-analyzer-*,
clang-diagnostic-*,
cppcoreguidelines-*,
-cppcoreguidelines-avoid-magic-numbers,
modernize-*,
-modernize-use-nodiscard,
-modernize-use-trailing-return-type,
readability-*,
-readability-else-after-return,
-readability-uppercase-literal-suffix,
-readability-magic-numbers,
-readability-qualified-auto,
-readability-identifier-length,
performance-*,
hicpp-*,
-hicpp-uppercase-literal-suffix
'